{
    "extends": "airbnb",
    "rules": {
        "no-unused-vars": 0,
        "no-restricted-syntax": 0
    },
    "env": {
        "browser": true
    },
    "globals": {
        "moment": true,
        "dates": true,
        "dateAtoms": true
    }
}