div.contentWrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

div.root {
  .header {
    text-align: center;
    background: #f4f5f6;
    border-bottom: 0.1rem solid #d1d1d1;
    padding-top: 2.5rem;
    margin-bottom: 3rem;

    h1.wtformat {
      color: #353c42;
      font-size: 3em;
      margin: 0;

      .wtf {
        color: #706edb;
        font-size: 1.2em;
        font-weight: 500;
      }
    }

    p {
      margin-top: 1.5rem;
      font-size: 1.8rem;
    }
  }

  div.toolContent {
    display: flex;
    gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;

      > * {
        width: 100% !important;
      }
    }
    > * {
      box-sizing: border-box;
      width: 50%;
      min-width: 30rem;
    }

    form fieldset {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        margin: 0 0 0 1rem;
      }
    }

    table tr:nth-child(1) td {
      padding-top: 0;
    }

    h2 {
      font-size: 2.6rem;
      margin-bottom: 2.8rem;

      span.line {
        white-space: nowrap;
      }
    }

    .noFormats {
      opacity: 0.8;
    }
  }

  div.articleContent {
    padding-bottom: 4rem;
  }

  div.starOnGitHub {
    &,
    > * {
      display: flex;
      align-items: center;
    }
    gap: 1rem;
    margin-bottom: 4rem;

    .githubButton {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 16px;
      color: #24292f;
      background-color: #ebf0f4;
      background-image: -moz-linear-gradient(top, #f6f8fa, #ebf0f4 90%);
      background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
      border-radius: 0.25em;
      border: 1px solid #d0d7de;
      height: 28px;
      font-weight: 600;
    }
  }
}
